*{
    box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
    body {
       width: 100%;
    }
}
body{
    background-image: url("log.jpg");
     background-repeat: no-repeat;
    
}
body{
    border-color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.container{
    border-color: burlywood;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgb(0,0,0,0.3);
    width: 500px;
}
h2{
    text-align: center;
    margin: 0 0 20px;
}
.form{
    padding: 30px 40px;
    color: bisque;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;


}
.form-control label{
    display: block;
    margin-bottom: 5px;
}
.form-control input{
    border:2px solid gray;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}
.form-control input:focus{
    border-color:indigo;
    outline: 0;
}
small{
   visibility: hidden;
    color: red;
}
.form-control.success input{
    border-color:green;

}
.form-control.error input {
    border-color:red;

}
.form-control.error small{
    visibility: visible;
}
.form button{
   
    background-color:blue ;
    border:2px solid blue;
    border-radius: 5px;
    display: block;
    padding: 10px;
    font-size: 30px;
    margin-top: 20px;
    width: 100%;
}